--
-- PostgreSQL database dump
--

\restrict tyq3ytrQwHSqLjjL9qblBU2ymH0fBivLnAUr0LlGbaeypxdcIVLYWrQN0OgSFUz

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: indicator_type_enum; Type: TYPE; Schema: public; Owner: opsforge
--

CREATE TYPE public.indicator_type_enum AS ENUM (
    'ip',
    'domain',
    'hash',
    'url'
);


ALTER TYPE public.indicator_type_enum OWNER TO opsforge;

--
-- Name: notification_priority; Type: TYPE; Schema: public; Owner: opsforge
--

CREATE TYPE public.notification_priority AS ENUM (
    'LOW',
    'NORMAL',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public.notification_priority OWNER TO opsforge;

--
-- Name: notification_status; Type: TYPE; Schema: public; Owner: opsforge
--

CREATE TYPE public.notification_status AS ENUM (
    'PENDING',
    'SENT',
    'FAILED',
    'READ'
);


ALTER TYPE public.notification_status OWNER TO opsforge;

--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: opsforge
--

CREATE TYPE public.notification_type AS ENUM (
    'ACCESS_REQUEST_CREATED',
    'APPROVAL_REQUIRED',
    'REQUEST_APPROVED',
    'REQUEST_REJECTED',
    'REQUEST_CANCELLED',
    'ROLE_PROVISIONED',
    'SYSTEM',
    'AUDIT_ALERT'
);


ALTER TYPE public.notification_type OWNER TO opsforge;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_requests; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.access_requests (
    request_number character varying(50) NOT NULL,
    requester_id uuid NOT NULL,
    requested_role_id uuid,
    requested_resource_id uuid,
    business_justification text NOT NULL,
    status character varying(9) NOT NULL,
    priority character varying(8) NOT NULL,
    requested_start timestamp with time zone,
    requested_end timestamp with time zone,
    approved_by uuid,
    approved_at timestamp with time zone,
    rejected_reason text,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_access_requests_access_request_priority_enum CHECK (((priority)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[]))),
    CONSTRAINT ck_access_requests_access_request_status_enum CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'cancelled'::character varying, 'expired'::character varying])::text[]))),
    CONSTRAINT ck_access_requests_ck_ar_role_or_resource CHECK (((requested_role_id IS NOT NULL) OR (requested_resource_id IS NOT NULL)))
);


ALTER TABLE public.access_requests OWNER TO opsforge;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO opsforge;

--
-- Name: approval_workflows; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.approval_workflows (
    access_request_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    approval_level character varying(12) NOT NULL,
    status character varying(9) NOT NULL,
    comments text,
    approved_at timestamp with time zone,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_approval_workflows_approval_level_enum CHECK (((approval_level)::text = ANY ((ARRAY['manager'::character varying, 'security'::character varying, 'system_admin'::character varying])::text[]))),
    CONSTRAINT ck_approval_workflows_approval_status_enum CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.approval_workflows OWNER TO opsforge;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.audit_logs (
    event_id character varying(50) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    actor_user_id uuid NOT NULL,
    target_user_id uuid,
    action character varying(255) NOT NULL,
    resource_type character varying(255) NOT NULL,
    resource_id character varying(255),
    request_id uuid,
    approval_workflow_id uuid,
    ip_address character varying(45),
    user_agent text,
    status character varying(7) NOT NULL,
    severity character varying(8) NOT NULL,
    details json,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_audit_logs_audit_severity_enum CHECK (((severity)::text = ANY ((ARRAY['info'::character varying, 'low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[]))),
    CONSTRAINT ck_audit_logs_audit_status_enum CHECK (((status)::text = ANY ((ARRAY['success'::character varying, 'failed'::character varying, 'denied'::character varying])::text[])))
);


ALTER TABLE public.audit_logs OWNER TO opsforge;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.notifications (
    recipient_user_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type public.notification_type NOT NULL,
    status public.notification_status NOT NULL,
    priority public.notification_priority NOT NULL,
    is_read boolean NOT NULL,
    read_at timestamp with time zone,
    delivery_attempts integer NOT NULL,
    last_error text,
    metadata_payload jsonb,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO opsforge;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.permissions (
    permission_code character varying(60) NOT NULL,
    permission_name character varying(120) NOT NULL,
    action character varying(8) NOT NULL,
    description character varying(500),
    status character varying(8) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_permissions_ck_permission_code_length CHECK ((length((permission_code)::text) >= 3)),
    CONSTRAINT ck_permissions_permission_action_enum CHECK (((action)::text = ANY ((ARRAY['create'::character varying, 'read'::character varying, 'update'::character varying, 'delete'::character varying, 'execute'::character varying, 'manage'::character varying, 'approve'::character varying, 'reject'::character varying, 'cancel'::character varying, 'override'::character varying, 'escalate'::character varying])::text[]))),
    CONSTRAINT ck_permissions_permission_status_enum CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'retired'::character varying])::text[])))
);


ALTER TABLE public.permissions OWNER TO opsforge;

--
-- Name: privileged_accounts; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.privileged_accounts (
    resource_id uuid NOT NULL,
    account_name character varying(100) NOT NULL,
    status character varying(50) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.privileged_accounts OWNER TO opsforge;

--
-- Name: resource_access_policies; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.resource_access_policies (
    resource_id uuid NOT NULL,
    role_id uuid NOT NULL,
    allowed_protocol character varying(50),
    allowed_time character varying(100),
    approval_required boolean NOT NULL,
    max_session_duration integer,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.resource_access_policies OWNER TO opsforge;

--
-- Name: resources; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.resources (
    resource_code character varying(60) NOT NULL,
    resource_name character varying(120) NOT NULL,
    resource_type character varying(11) NOT NULL,
    description character varying(500),
    status character varying(8) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    hostname_ip character varying(255),
    protocol character varying(50),
    port integer,
    environment character varying(7) DEFAULT 'prod'::character varying NOT NULL,
    criticality character varying(8) DEFAULT 'medium'::character varying NOT NULL,
    connection_method character varying(5),
    owner_id uuid,
    created_by uuid,
    CONSTRAINT ck_resources_ck_resource_code_length CHECK ((length((resource_code)::text) >= 3)),
    CONSTRAINT ck_resources_connection_method_enum CHECK (((connection_method)::text = ANY ((ARRAY['ssh'::character varying, 'rdp'::character varying, 'https'::character varying, 'api'::character varying, 'other'::character varying])::text[]))),
    CONSTRAINT ck_resources_criticality_enum CHECK (((criticality)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[]))),
    CONSTRAINT ck_resources_environment_enum CHECK (((environment)::text = ANY ((ARRAY['dev'::character varying, 'test'::character varying, 'staging'::character varying, 'prod'::character varying])::text[]))),
    CONSTRAINT ck_resources_resource_status_enum CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'retired'::character varying])::text[]))),
    CONSTRAINT ck_resources_resource_type_enum CHECK (((resource_type)::text = ANY ((ARRAY['application'::character varying, 'database'::character varying, 'server'::character varying, 'network'::character varying, 'cloud'::character varying, 'storage'::character varying, 'api'::character varying, 'other'::character varying])::text[])))
);


ALTER TABLE public.resources OWNER TO opsforge;

--
-- Name: revoked_tokens; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.revoked_tokens (
    id integer NOT NULL,
    jti character varying(36) NOT NULL,
    revoked_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.revoked_tokens OWNER TO opsforge;

--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: opsforge
--

CREATE SEQUENCE public.revoked_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.revoked_tokens_id_seq OWNER TO opsforge;

--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: opsforge
--

ALTER SEQUENCE public.revoked_tokens_id_seq OWNED BY public.revoked_tokens.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL,
    assigned_by_user_id uuid,
    assigned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO opsforge;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.roles (
    role_code character varying(60) NOT NULL,
    role_name character varying(120) NOT NULL,
    role_type character varying(6) NOT NULL,
    description character varying(500),
    status character varying(8) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_roles_ck_role_code_length CHECK ((length((role_code)::text) >= 3)),
    CONSTRAINT ck_roles_role_status_enum CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'retired'::character varying])::text[]))),
    CONSTRAINT ck_roles_role_type_enum CHECK (((role_type)::text = ANY ((ARRAY['system'::character varying, 'custom'::character varying])::text[])))
);


ALTER TABLE public.roles OWNER TO opsforge;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.user_roles (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    assigned_by_user_id uuid,
    assigned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_roles OWNER TO opsforge;

--
-- Name: users; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.users (
    employee_id character varying(50) NOT NULL,
    username character varying(80) NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(200) NOT NULL,
    title character varying(120),
    manager_user_id uuid,
    status character varying(9) NOT NULL,
    last_login_at timestamp with time zone,
    password_hash character varying(255),
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_users_manager_not_self CHECK (((manager_user_id IS NULL) OR (manager_user_id <> id))),
    CONSTRAINT ck_users_user_status_enum CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'suspended'::character varying, 'locked'::character varying, 'disabled'::character varying, 'archived'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO opsforge;

--
-- Name: vault_secret_versions; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.vault_secret_versions (
    secret_id uuid NOT NULL,
    encrypted_dek bytea NOT NULL,
    encrypted_payload bytea NOT NULL,
    key_version character varying(50) NOT NULL,
    algorithm character varying(50) NOT NULL,
    nonce character varying(100) NOT NULL,
    encryption_context json NOT NULL,
    created_by uuid NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.vault_secret_versions OWNER TO opsforge;

--
-- Name: vault_secrets; Type: TABLE; Schema: public; Owner: opsforge
--

CREATE TABLE public.vault_secrets (
    resource_id uuid NOT NULL,
    status character varying(10) NOT NULL,
    row_version integer NOT NULL,
    current_version_id uuid,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_vault_secrets_secret_status_enum CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'rotating'::character varying, 'disabled'::character varying, 'tombstoned'::character varying])::text[])))
);


ALTER TABLE public.vault_secrets OWNER TO opsforge;

--
-- Name: revoked_tokens id; Type: DEFAULT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.revoked_tokens ALTER COLUMN id SET DEFAULT nextval('public.revoked_tokens_id_seq'::regclass);


--
-- Data for Name: access_requests; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.access_requests (request_number, requester_id, requested_role_id, requested_resource_id, business_justification, status, priority, requested_start, requested_end, approved_by, approved_at, rejected_reason, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.alembic_version (version_num) FROM stdin;
84fe0ca97169
\.


--
-- Data for Name: approval_workflows; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.approval_workflows (access_request_id, approver_id, approval_level, status, comments, approved_at, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.audit_logs (event_id, "timestamp", actor_user_id, target_user_id, action, resource_type, resource_id, request_id, approval_workflow_id, ip_address, user_agent, status, severity, details, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.notifications (recipient_user_id, title, message, type, status, priority, is_read, read_at, delivery_attempts, last_error, metadata_payload, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: opsforge
--



--
-- Data for Name: privileged_accounts; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.privileged_accounts (resource_id, account_name, status, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: resource_access_policies; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.resource_access_policies (resource_id, role_id, allowed_protocol, allowed_time, approval_required, max_session_duration, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: resources; Type: TABLE DATA; Schema: public; Owner: opsforge
--



--
-- Data for Name: revoked_tokens; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.revoked_tokens (id, jti, revoked_at, expires_at) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: opsforge
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: opsforge
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.user_roles (user_id, role_id, assigned_by_user_id, assigned_at) FROM stdin;
bddcf440-c267-4f4f-8330-fd79a8889708	431e27ad-a30f-4c63-920e-284811af0951	\N	2026-08-08 05:39:19.020106+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.users (employee_id, username, email, full_name, title, manager_user_id, status, last_login_at, password_hash, id, created_at, updated_at) FROM stdin;
ADMIN_BOOT	admin	admin@opsforge.local	System Administrator	\N	\N	active	\N	scrypt:32768:8:1$WVP1QZsTcvxIWMjK$e483c2406158a98a02001b48153c95038d56d3a8694d000470fd660f8b649d48c456496ea96a5d3e47ee978108b4696332164b93b0581d939d67a98f55237659	bddcf440-c267-4f4f-8330-fd79a8889708	2026-08-08 05:39:19.016454+00	2026-08-08 05:39:19.016458+00
\.


--
-- Data for Name: vault_secret_versions; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.vault_secret_versions (secret_id, encrypted_dek, encrypted_payload, key_version, algorithm, nonce, encryption_context, created_by, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: vault_secrets; Type: TABLE DATA; Schema: public; Owner: opsforge
--

COPY public.vault_secrets (resource_id, status, row_version, current_version_id, id, created_at, updated_at) FROM stdin;
\.


--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: opsforge
--

SELECT pg_catalog.setval('public.revoked_tokens_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: access_requests pk_access_requests; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT pk_access_requests PRIMARY KEY (id);


--
-- Name: approval_workflows pk_approval_workflows; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT pk_approval_workflows PRIMARY KEY (id);


--
-- Name: audit_logs pk_audit_logs; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT pk_audit_logs PRIMARY KEY (id);


--
-- Name: notifications pk_notifications; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pk_notifications PRIMARY KEY (id);


--
-- Name: permissions pk_permissions; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT pk_permissions PRIMARY KEY (id);


--
-- Name: privileged_accounts pk_privileged_accounts; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.privileged_accounts
    ADD CONSTRAINT pk_privileged_accounts PRIMARY KEY (id);


--
-- Name: resource_access_policies pk_resource_access_policies; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resource_access_policies
    ADD CONSTRAINT pk_resource_access_policies PRIMARY KEY (id);


--
-- Name: resources pk_resources; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT pk_resources PRIMARY KEY (id);


--
-- Name: revoked_tokens pk_revoked_tokens; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT pk_revoked_tokens PRIMARY KEY (id);


--
-- Name: role_permissions pk_role_permissions; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT pk_role_permissions PRIMARY KEY (role_id, permission_id);


--
-- Name: roles pk_roles; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT pk_roles PRIMARY KEY (id);


--
-- Name: user_roles pk_user_roles; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT pk_user_roles PRIMARY KEY (user_id, role_id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: vault_secret_versions pk_vault_secret_versions; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secret_versions
    ADD CONSTRAINT pk_vault_secret_versions PRIMARY KEY (id);


--
-- Name: vault_secrets pk_vault_secrets; Type: CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secrets
    ADD CONSTRAINT pk_vault_secrets PRIMARY KEY (id);


--
-- Name: ix_access_requests_approved_by; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_approved_by ON public.access_requests USING btree (approved_by);


--
-- Name: ix_access_requests_priority; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_priority ON public.access_requests USING btree (priority);


--
-- Name: ix_access_requests_request_number; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_access_requests_request_number ON public.access_requests USING btree (request_number);


--
-- Name: ix_access_requests_requested_resource_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_requested_resource_id ON public.access_requests USING btree (requested_resource_id);


--
-- Name: ix_access_requests_requested_role_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_requested_role_id ON public.access_requests USING btree (requested_role_id);


--
-- Name: ix_access_requests_requester_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_requester_id ON public.access_requests USING btree (requester_id);


--
-- Name: ix_access_requests_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_access_requests_status ON public.access_requests USING btree (status);


--
-- Name: ix_approval_workflows_access_request_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_approval_workflows_access_request_id ON public.approval_workflows USING btree (access_request_id);


--
-- Name: ix_approval_workflows_approval_level; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_approval_workflows_approval_level ON public.approval_workflows USING btree (approval_level);


--
-- Name: ix_approval_workflows_approver_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_approval_workflows_approver_id ON public.approval_workflows USING btree (approver_id);


--
-- Name: ix_approval_workflows_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_approval_workflows_status ON public.approval_workflows USING btree (status);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_actor_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_actor_user_id ON public.audit_logs USING btree (actor_user_id);


--
-- Name: ix_audit_logs_approval_workflow_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_approval_workflow_id ON public.audit_logs USING btree (approval_workflow_id);


--
-- Name: ix_audit_logs_event_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_audit_logs_event_id ON public.audit_logs USING btree (event_id);


--
-- Name: ix_audit_logs_request_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_request_id ON public.audit_logs USING btree (request_id);


--
-- Name: ix_audit_logs_resource_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_resource_id ON public.audit_logs USING btree (resource_id);


--
-- Name: ix_audit_logs_resource_type; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_resource_type ON public.audit_logs USING btree (resource_type);


--
-- Name: ix_audit_logs_severity; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_severity ON public.audit_logs USING btree (severity);


--
-- Name: ix_audit_logs_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_status ON public.audit_logs USING btree (status);


--
-- Name: ix_audit_logs_target_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_target_user_id ON public.audit_logs USING btree (target_user_id);


--
-- Name: ix_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_audit_logs_timestamp ON public.audit_logs USING btree ("timestamp");


--
-- Name: ix_notifications_recipient_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_notifications_recipient_user_id ON public.notifications USING btree (recipient_user_id);


--
-- Name: ix_permissions_action; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_permissions_action ON public.permissions USING btree (action);


--
-- Name: ix_permissions_permission_code; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_permissions_permission_code ON public.permissions USING btree (permission_code);


--
-- Name: ix_permissions_permission_name; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_permissions_permission_name ON public.permissions USING btree (permission_name);


--
-- Name: ix_permissions_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_permissions_status ON public.permissions USING btree (status);


--
-- Name: ix_privileged_accounts_resource_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_privileged_accounts_resource_id ON public.privileged_accounts USING btree (resource_id);


--
-- Name: ix_resource_access_policies_resource_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_resource_access_policies_resource_id ON public.resource_access_policies USING btree (resource_id);


--
-- Name: ix_resource_access_policies_role_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_resource_access_policies_role_id ON public.resource_access_policies USING btree (role_id);


--
-- Name: ix_resources_resource_code; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_resources_resource_code ON public.resources USING btree (resource_code);


--
-- Name: ix_resources_resource_name; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_resources_resource_name ON public.resources USING btree (resource_name);


--
-- Name: ix_resources_resource_type; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_resources_resource_type ON public.resources USING btree (resource_type);


--
-- Name: ix_resources_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_resources_status ON public.resources USING btree (status);


--
-- Name: ix_revoked_tokens_expires_at; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_revoked_tokens_expires_at ON public.revoked_tokens USING btree (expires_at);


--
-- Name: ix_revoked_tokens_jti; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_revoked_tokens_jti ON public.revoked_tokens USING btree (jti);


--
-- Name: ix_role_permissions_assigned_at; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_role_permissions_assigned_at ON public.role_permissions USING btree (assigned_at);


--
-- Name: ix_role_permissions_assigned_by_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_role_permissions_assigned_by_user_id ON public.role_permissions USING btree (assigned_by_user_id);


--
-- Name: ix_role_permissions_permission_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_role_permissions_permission_id ON public.role_permissions USING btree (permission_id);


--
-- Name: ix_roles_role_code; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_roles_role_code ON public.roles USING btree (role_code);


--
-- Name: ix_roles_role_name; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_roles_role_name ON public.roles USING btree (role_name);


--
-- Name: ix_roles_role_type; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_roles_role_type ON public.roles USING btree (role_type);


--
-- Name: ix_roles_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_roles_status ON public.roles USING btree (status);


--
-- Name: ix_user_roles_assigned_at; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_user_roles_assigned_at ON public.user_roles USING btree (assigned_at);


--
-- Name: ix_user_roles_assigned_by_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_user_roles_assigned_by_user_id ON public.user_roles USING btree (assigned_by_user_id);


--
-- Name: ix_user_roles_role_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_user_roles_role_id ON public.user_roles USING btree (role_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_employee_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_users_employee_id ON public.users USING btree (employee_id);


--
-- Name: ix_users_full_name; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_users_full_name ON public.users USING btree (full_name);


--
-- Name: ix_users_last_login_at; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_users_last_login_at ON public.users USING btree (last_login_at);


--
-- Name: ix_users_manager_user_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_users_manager_user_id ON public.users USING btree (manager_user_id);


--
-- Name: ix_users_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_users_status ON public.users USING btree (status);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_vault_secret_versions_secret_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_vault_secret_versions_secret_id ON public.vault_secret_versions USING btree (secret_id);


--
-- Name: ix_vault_secrets_resource_id; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_vault_secrets_resource_id ON public.vault_secrets USING btree (resource_id);


--
-- Name: ix_vault_secrets_status; Type: INDEX; Schema: public; Owner: opsforge
--

CREATE INDEX ix_vault_secrets_status ON public.vault_secrets USING btree (status);


--
-- Name: access_requests fk_access_requests_resources_requested_resource_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT fk_access_requests_resources_requested_resource_id FOREIGN KEY (requested_resource_id) REFERENCES public.resources(id) ON DELETE RESTRICT;


--
-- Name: access_requests fk_access_requests_roles_requested_role_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT fk_access_requests_roles_requested_role_id FOREIGN KEY (requested_role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: access_requests fk_access_requests_users_approved_by; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT fk_access_requests_users_approved_by FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: access_requests fk_access_requests_users_requester_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT fk_access_requests_users_requester_id FOREIGN KEY (requester_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: approval_workflows fk_approval_workflows_access_requests_access_request_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT fk_approval_workflows_access_requests_access_request_id FOREIGN KEY (access_request_id) REFERENCES public.access_requests(id) ON DELETE RESTRICT;


--
-- Name: approval_workflows fk_approval_workflows_users_approver_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT fk_approval_workflows_users_approver_id FOREIGN KEY (approver_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: notifications fk_notifications_users_recipient_user_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notifications_users_recipient_user_id FOREIGN KEY (recipient_user_id) REFERENCES public.users(id);


--
-- Name: privileged_accounts fk_privileged_accounts_resources_resource_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.privileged_accounts
    ADD CONSTRAINT fk_privileged_accounts_resources_resource_id FOREIGN KEY (resource_id) REFERENCES public.resources(id) ON DELETE CASCADE;


--
-- Name: resource_access_policies fk_resource_access_policies_resources_resource_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resource_access_policies
    ADD CONSTRAINT fk_resource_access_policies_resources_resource_id FOREIGN KEY (resource_id) REFERENCES public.resources(id) ON DELETE CASCADE;


--
-- Name: resource_access_policies fk_resource_access_policies_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resource_access_policies
    ADD CONSTRAINT fk_resource_access_policies_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: resources fk_resources_users_created_by; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT fk_resources_users_created_by FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: resources fk_resources_users_owner_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT fk_resources_users_owner_id FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: role_permissions fk_role_permissions_permissions_permission_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_permissions_permission_id FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE RESTRICT;


--
-- Name: role_permissions fk_role_permissions_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: role_permissions fk_role_permissions_users_assigned_by_user_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_users_assigned_by_user_id FOREIGN KEY (assigned_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_roles fk_user_roles_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: user_roles fk_user_roles_users_assigned_by_user_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_users_assigned_by_user_id FOREIGN KEY (assigned_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_roles fk_user_roles_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: users fk_users_users_manager_user_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_users_manager_user_id FOREIGN KEY (manager_user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: vault_secret_versions fk_vault_secret_versions_users_created_by; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secret_versions
    ADD CONSTRAINT fk_vault_secret_versions_users_created_by FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: vault_secret_versions fk_vault_secret_versions_vault_secrets_secret_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secret_versions
    ADD CONSTRAINT fk_vault_secret_versions_vault_secrets_secret_id FOREIGN KEY (secret_id) REFERENCES public.vault_secrets(id) ON DELETE CASCADE;


--
-- Name: vault_secrets fk_vault_secrets_current_version_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secrets
    ADD CONSTRAINT fk_vault_secrets_current_version_id FOREIGN KEY (current_version_id) REFERENCES public.vault_secret_versions(id) ON DELETE SET NULL;


--
-- Name: vault_secrets fk_vault_secrets_resources_resource_id; Type: FK CONSTRAINT; Schema: public; Owner: opsforge
--

ALTER TABLE ONLY public.vault_secrets
    ADD CONSTRAINT fk_vault_secrets_resources_resource_id FOREIGN KEY (resource_id) REFERENCES public.resources(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tyq3ytrQwHSqLjjL9qblBU2ymH0fBivLnAUr0LlGbaeypxdcIVLYWrQN0OgSFUz

